<ion-content padding>
  <div class="container">
    <img class="logo" src="../../assets/imgs/icon.png" alt="logo" />
    <form
      *ngIf="!showRegister"
      [formGroup]="loginForm"
      (ngSubmit)="onLoginSubmit()"
    >
      <ion-item>
        <ion-input
          type="text"
          name="username"
          placeholder="Username"
          class="input"
          formControlName="username"
          [class.invalid]="
            (!loginForm.get('username').valid &&
              loginForm.get('username').touched) ||
            errorMessage
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !loginForm.get('username').valid && loginForm.get('username').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid name.</p>
      </ion-item>

      <ion-item margin-top>
        <ion-input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          [class.invalid]="
            (!loginForm.get('password').valid &&
              loginForm.get('password').touched) ||
            errorMessage
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !loginForm.get('password').valid && loginForm.get('password').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid password.</p>
      </ion-item>
      <ion-item>
        <p class="invalid-feedback">{{ errorMessage }}</p>
      </ion-item>
      <ion-item>
        <ion-buttons center class="mb-1" margin-top>
          <button type="submit" ion-button block>Login</button>
        </ion-buttons>
      </ion-item>
    </form>

    <!-- Register -->
    <form
      *ngIf="showRegister"
      [formGroup]="registerForm"
      (ngSubmit)="onRegisterSubmit()"
    >
      <ion-item>
        <ion-input
          type="text"
          name="username"
          placeholder="Username"
          class="input"
          formControlName="username"
          [class.invalid]="
            !registerForm.get('username').valid &&
            registerForm.get('username').touched
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !registerForm.get('username').valid &&
          registerForm.get('username').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid name.</p>
        <p
          *ngIf="registerForm.controls.username.errors"
          class="invalid-feedback"
        >
          This email already exists
        </p>
      </ion-item>

      <ion-item margin-top>
        <ion-input
          type="email"
          name="email"
          formControlName="email"
          placeholder="email"
          [class.invalid]="
            !registerForm.get('email').valid &&
            registerForm.get('email').touched
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !registerForm.get('email').valid && registerForm.get('email').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid email.</p>
      </ion-item>
      <ion-item margin-top>
        <ion-input
          type="text"
          name="full_name"
          formControlName="full_name"
          placeholder="Fullname"
          [class.invalid]="
            !registerForm.get('full_name').valid &&
            registerForm.get('full_name').touched
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !registerForm.get('full_name').valid &&
          registerForm.get('full_name').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid fullname.</p>
      </ion-item>
      <ion-item margin-top>
        <ion-input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          [class.invalid]="
            !registerForm.get('password').valid &&
            registerForm.get('password').touched
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !registerForm.get('password').valid &&
          registerForm.get('password').touched
        "
      >
        <p class="invalid-feedback">Please enter a valid password.</p>
      </ion-item>

      <ion-item>
        <ion-buttons center class="mb-1" margin-top>
          <button type="submit" ion-button block>Register</button>
        </ion-buttons>
      </ion-item>
    </form>
    <ion-item>
      <button ion-button clear (click)="switchLoginRegisterPage()">
        {{ showRegister ? "or login" : "or register" }}
      </button>
    </ion-item>
  </div>
</ion-content>
