<ion-content>
  <div class="profile">
    <h2 class="profile__username">
      {{
        (user$ | async).full_name
          ? ((user$ | async).full_name | uppercase)
          : ((user$ | async).username | uppercase)
      }}
    </h2>
    <p class="profile__email">{{ (user$ | async).email }}</p>
    <div class="profile__dashboard">
      <button ion-button outline>Edit</button>
      <button ion-button outline (click)="logout()">
        Logout
      </button>
    </div>
  </div>

  <div class="media">
    <h2 class="media__title">
      {{ userMedia.length > 0 ? "You recipes" : "You dont have recipes" }}
    </h2>
    <ion-list *ngIf="userMedia">
      <ion-item-sliding *ngFor="let item of userMedia">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.file_id | thumbnail: 'medium' | async" />
          </ion-avatar>
          <h2>{{ item.title }}</h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary" (click)="viewItem(item.file_id)">
            <ion-icon name="eye"></ion-icon>
            View
          </button>
          <button ion-button color="secondary" (click)="editItem(item)">
            <ion-icon name="brush"></ion-icon>
            Edit
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="remove(item.file_id)">
            <ion-icon name="trash"></ion-icon>
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="goToUpload()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
